/*para quitar el margfen por defecto que tiene el body*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: large;
}
/*el color del nav y el footer*/
nav, footer{
    background-color:  #0dab6d ;
}
/*para que el navbar ocupe todo el espacio que le pertenece*/
.section_navbar{
    display: grid;
}
/*con esta definimos el tamaño de altura del navbar*/
.title{
    line-height: 1.5;

}
/* ubicacion del titulo navbar*/
.title h3{
    text-align: right;
    margin-right: 20px;
    color: black;
}
/*tamaño de imagen y radio del footer*/
footer img{
    height: 80px;
    width: 80px;
    border-radius: 70px;
}
/*tipo de display del footer*/
.footer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 35% 25% 5% 20%;
}
/*ubicación del titulo del footer*/
.footer h3{
    grid-column: 3/4;
}
/*ubicación del nombre del desarrollador footer*/
.footer h2{
    grid-column: 4/5;
}
/*ubicación de la imagen del footer*/
.footer img{
    grid-column: 5/6;
}
/*tipo de display del contenido principal*/
.section_main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*tamaño de div contenedor*/
.div_convertidor, #here{
    border:black solid 2px;
    width: 80%;
    display: grid;
    text-align: center;
    border-radius: 10px;
}
/*tamaño de imagen del convertidor*/
.div_convertidor img {
    height: 200px;
    width: 200px;
    margin-top: 10px;
}
/*color del titulo y del h3 del footer*/
.title h3:hover,.footer h2:hover{
color: azure;
}
/*quitar subrayado de link*/
.title a{
    text-decoration:none;
}
/*tamaño del input y el button*/
input[type="button"],input[type="text"]{
    font-size: large;
}
/*margen del button*/
input[type="button"]{
    margin: 20px;
}
/*bordes del nav y el iframe para que coincida con los bordes del div */
#div_convertidor nav,iframe{
    border-radius: 7px;
}
/*tamaño del div contenedor del texto inicial*/
.div_txt_inicio{
    width: 80%;

}
@media (  max-width:720px) {
    #div_convertidor nav{
        width: auto;
    }
    input[type="text"]{
        width: 252px;
    }
    .footer{
        display: grid;
        grid-template-columns: 10% 40% 20% 30%;
    }
    .footer h3{
        grid-column: 2/3;
    }
    .footer h2{
        grid-column: 3/4;
    }
    .footer article{
        grid-column: 4/5;
    }
    .title h3{
        text-align: center;
    }
}